$primery-color: #ff0066;
$secondary-color: #771133;
$white:#ffffff;


.nav {
    border: 1px solid $primery-color;
    .link {
        color: $primery-color;
        &:hover {
            background-color: $primery-color;
            color: $white ;
        }
    }
}


.footer {
    background-color: $secondary-color;
    color: $white;

 
    .title {
        font-size: 12px;
        
    }
 
    .link {
        color: $white;
 
            &:hover {
                color: rgba($white, 0.5);
            }
    }
 
    .copyright {
        font-size: 12px;
    }
}

@media screen and (min-width: 320px) {
    .title {
        font-size: 14px;
    }
    
}
@media screen and (min-width: 480px) {
    .title {
        font-size: 20px;
    }
    
}  
@media screen and (min-width: 800px) {
    .title {
        font-size: 24px;
    }
}
@media screen and (min-width: 1200px) {
    .title {
        font-size: 32px;
    }
}